<div class="pure-g-r">
<div class="pure-u-6-24"></div>
<div class="pure-u-12-24">
<div id="edit-user">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'pure-form pure-form-aligned' } ) do |f| %>
    <%= f.error_notification %>
    
    <%= f.input :email, required: true, autofocus: true, input_html: { size: 20 }, wrapper_html: { class: 'pure-control-group' } %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", required: false, input_html: { size: 20 }, wrapper_html: { class: 'pure-control-group' } %>

    <%= f.input :password_confirmation, required: false, wrapper_html: { class: 'pure-control-group' } %>

    <%= f.input :current_password, required: true, wrapper_html: { class: 'pure-control-group' } %>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
</div>
<div class="pure-u-6-24"></div>
</div>