<div class="pure-g-r">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-16-24 bg-story">
    <%= form_for(@story, :html => { :class => "pure-form pure-form-aligned" } ) do |f| %>

      <div class="pure-control-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="pure-control-group">
        <%= f.label :body %>
        <%= f.text_field :body %>
      </div>

      <div class="pure-control-group">
        <%= f.label :keyword %>
        <%= f.hidden_field :keyword %>
      </div>

      <%= submit_tag("Submit") %>
    <% end %>
  </div>
  <div class="pure-u-4-24"></div>
</div>
