<div class="pure-g-r">
    <div class="pure-u-4-24"></div>
    <div id="record-story" class="pure-u-16-24">
        <div id="recording">
          <h3>Record your story.</h3>
          <div id="status">Test</div>
          <div id="results">
            <span id="final_span" style="color:black"></span>
            <span id="interim_span" style="color:gray"></span>
          </div>
          <a id="record" href="#">
            <%= image_tag "mic.gif", :id => "microphone" %>
          </a>    
          <br />
          <a class="pure-button pure-button-primary" id="share-story" href="#">Get My Story Ready to Publish</a>
        </div>

        <div id="clean-story">
         <h3>Let's get your story ready to publish!</h3>
         <%= form_tag( stories_path, method: "post", authenticity_token: form_authenticity_token, class: "pure-form pure-form-aligned" ) do %>
          
          <div class="pure-control-group">
            <%= label_tag('story[title]', "Title:") %>
            <%= text_field_tag('story[title]') %>
          </div>
          <div class="pure-control-group">
            <%= label_tag('story[keywords]', "Keywords:") %>
            <%= text_field_tag('story[keywords]') %>
          </div>
          <div class="pure-control-group">
            <%= label_tag('story[body]', "Body:") %>
            <%= text_area_tag('story[body]') %>
          </div>
          
          <%= submit_tag "Submit", class: "pure-button pure-button-primary" %>
          <% end %>
        </div>
    </div>
  <div class="pure-u-4-24"></div>
</div>